{
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "trailingComma": "all",
  "arrowParens": "avoid"
}
