.postBottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  button {
    margin-left: auto;
  }
}
